.post
  max-width: 800px
  margin: 0 auto

.post-content
  display: flex

.post-excerpt
  flex: 1 0 50%
  padding-left: 12px

@keyframes lazy-image-placeholder
  0%
    opacity: 0
  99%
    opacity: 0
  100%
    opacity: 1

.cover-image
  animation: lazy-image-placeholder 300ms
  flex: 1 0 50%
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.cover-image.is-loaded
  animation: none
